body{
   margin:0;
   padding:0;
   font-family:sans-serif;
}
#navbar{
   padding:8px;
   margin:0px;
}
h1{
    text-align:center;
}

 #passion{
    width:350px;
 }

 .location{
    color:purple;
    margin-bottom:16px;
 }

 #angular{
   height: 150px;
   width:150px;
 }

 #passion{
   object-fit:cover;
 }

 #about{
   display:flex;
   max-width: 1000px;
   margin: 0 auto;
   padding:8px;
 }
 #description{
   width: 50%;
   text-align:left;
   padding:0 8px;
 }
 #people{
   width:50%;
   color:black;
   text-align:center;
 }
 #people-image{
   border-radius: 5px;
   width:100%;
 }
 #jobs-table{
   width:100%;
   border: 1px solid gray;
   border-collapse:collapse;
 }
 .jobs-header-row th{
   border: 1px solid gray;
   padding:8px;
   background-color: blue;
   color: white;
   text-align: center;
 }
 .jobs-data-row td{
   border: 1px solid gray;
   padding:8px;
   background-color: lightblue;
 }
 #jobs-table tr:nth-child(odd){
background-color: lightblue;

 }
p{
   margin:0;
}
h2{
   text-align:center;
}
#jobs{
   max-width:800px;
   margin: 0 auto;
   padding: 0 8px;
}
h3{
   margin-bottom:4px;
   margin-top:0;
}
h5{
   margin:4px;
}
.apply{
   float:right;
}
#footer{
   color:white;
   padding: 8px;
   margin-top:16px;
   text-align:center;
}
#footer-links{
   list-style:none;
   text-align:center;
}
#footer-links li{
   display:inline;
   margin:0 16px;
}
.copyright{
   color:green;
}