 html{
   font-size: 16px;
   color:rgb(66, 135, 245)
}
body{
   margin:0;
   padding:0;
   font-family:'Roboto',sans-serif;
   /*font-size:34px;
   font-weight: 600;
   text-align:justify;
   font-style:italic;
   line-height: 1.2;*/
   font-size:16px;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Inter',sans-serif;
   text-decoration:underline;
   font-weight: 600;
}
#navbar{
   padding:8px;
   margin:0px;
}
h1{
    text-align:center;
    text-transform:uppercase;
    font-size:3em;
}

 #passion{
    width:350px;
 }

 .location{
    color:purple;
    margin-bottom:16px;
 }

 #angular{
   height: 150px;
   width:150px;
 }

 #passion{
   object-fit:cover;
 }

 #about{
   display:flex;
   max-width: 1000px;
   margin: 0 auto;
   padding:8px;
 }
 #description{
   width: 50%;
   text-align:left;
   padding:0 8px;
 }
 #people{
   width:50%;
   color:black;
   text-align:center;
 }
 #people-image{
   border-radius: 5px;
   width:100%;
 }
 #jobs-table{
   width:100%;
   border: 1px solid gray;
   border-collapse:collapse;
 }
 .jobs-header-row th{
   border: 1px solid gray;
   padding:8px;
   background-color: blue;
   color: white;
   text-align: center;
 }
 .jobs-data-row td{
   border: 1px solid gray;
   padding:8px;
   background-color: lightblue;
 }
 #jobs-table tr:nth-child(odd){
background-color: lightblue;
 }
 #application{
   max-width: 800px;
   margin: 0 auto;
   padding: 0 8px;
   
 }
 #application-form div{
   margin:8px;
 }
 .form-group{
   margin: 16px 0;
 }
 #application-form label{
   font-weight: 600 px;
   margin-top:8px;
 }
#application-form input, select,textarea
{
   padding:4px;
   font-size: 1.25rem;
   margin-top:4px;
   border-radius:5px;
   border-color:8 px solid gray;
 }
 .form-group textarea{
   width:80%;
   font-family: "Roboto";
 }
p{
   margin:0;
}
h2{
   text-align:center;
}
#jobs{
   max-width:800px;
   margin: 0 auto;
   padding: 0 8px;
}
h3{
   margin-bottom:4px;
   margin-top:0;
}
h5{
   margin:4px;
}
.apply{
   float:right;
}
#footer{
   color:white;
   padding: 8px;
   margin-top:16px;
   text-align:center;
}
#footer-links{
   list-style:none;
   text-align:center;
}
#footer-links li{
   display:inline;
   margin:0 16px;
}
.copyright{
   color:green;
   font-size:0.875rem;
}
